---
- name: Create an IAM user
  include_role:
    name: terraplate/aws/iam/user
  vars:
    component: { ns: 'app' }
    instance: { ns: '{{ namespace }}', name: 'iam-user' }

- name: Create an IAM user
  include_role:
    name: terraplate/aws/iam/access-key
  vars:
    component: { ns: 'app' }
    instance: { ns: '{{ namespace }}', name: 'iam-key' }

- name: Create an S3 bucket
  include_role:
    name: terraplate/aws/s3/bucket
  vars:
    component: { ns: 'app' }
    instance: { ns: '{{ namespace }}', name: 'app' }
    remote_states: { iam-user: '{{ namespace }}/iam-user', iam-key: '{{ namespace }}/iam-key' }
