---
- include_role:
    name: terraplate/component

- name: Create an IAM user
  include_role:
    name: terraplate/aws/iam/user

- name: Create an IAM access key
  include_role:
    name: terraplate/aws/iam/access-key

- name: Create an policy document for the S3 bucket
  include_role:
    name: terraplate/aws/iam/policy-document

- name: Create an S3 bucket
  include_role:
    name: terraplate/aws/s3/bucket

- name: Create an environment file for the S3 bucket
  include_role:
    name: terraplate/aws/s3/template-file

- name: Create a Route53 record
  include_role:
    name: terraplate/aws/route53/record-alias
