---
- include_role:
    name: terraplate/component

- name: Create an IAM user
  include_role:
    name: terraplate/aws/iam/user

- name: Create an IAM access key
  include_role:
    name: terraplate/aws/iam/access-key

- name: Create an S3 bucket
  include_role:
    name: terraplate/aws/s3/bucket

# - name: Create a Route53 record
#   include_role:
#     name: terraplate/aws/route53/record
#   vars:
#     instance: { ns: '{{ instance_ns }}', name: 'hostname' }
#     remote_states: { domain: 'dns/subdomain', host: '{{ instance_ns }}/eip' }
#     dependencies: ['{{ instance_ns }}/eip']
