---
# - { role: tpl/aws/app-server-with-elb, component: { ns: 'app' }, instance: { ns: 'processor' },

- name: Create an EC2 instance
  include_role:
    name: tpl/aws/ec2/instance
  vars:
    # component: { ns: 'app' }
    instance: { ns: '{{ namespace }}' }
    remote_states: { vpc: 'networking/vpc-pro-train' }

- name: Create a Security Group
  include_role:
    name: tpl/aws/vpc/security-group
  vars:
    component:
      ns: '{{ namespace }}'
    instance: { ns: '{{ namespace }}' }
    remote_states: { vpc: 'networking/vpc-pro-train' }
    rules:
      - { name: 'allow-https-in', type: 'ingress', protocol: 'tcp', from_port: 443, to_port: 443, cidr_blocks: '0.0.0.0/0' }
      - { name: 'allow-all-out', type: 'egress', protocol: '-1', from_port: 0, to_port: 0, cidr_blocks: '0.0.0.0/0' }

- name: Create an ELB
  include_role:
    name: tpl/aws/ec2/elb
  vars:
    # component: { ns: 'app' }
    instance: { ns: '{{ namespace }}' }
    remote_states: { iam: 'global/iam', vpc: 'networking/vpc-pro-train', sg: 'networking/sg-pro-train' }

- name: Create an ELB Attachment
  include_role:
    name: tpl/aws/ec2/elb-attachment
  vars:
    # component: { ns: 'app' }
    instance: { ns: '{{ namespace }}' }
    remote_states: { elb: '{{ namespace}}/elb', ec2: '{{ namespace }}/ec2' }

- name: Create a Route53 record for the ELB
  include_role:
    name: tpl/aws/hostname
  vars:
    # component: { ns: 'app' }
    instance: { ns: 'processor', name: 'server-host' }
    remote_states: { domain: 'global/route53', host: 'processor/server' }
    dependencies: ['processor/server']
