---
- include_role:
    name: terraplate/component
  tags: alb-tg, alb-tga, alb-l, alb-rr


###
# processor and training
###
- name: Create an ALB Target Group
  include_role:
    name: terraplate/aws/ec2/alb-target-group
  vars:
    meta:
      name: alb-tg-http
    tfvars:
      name: alb-tg-http
      tags:
        Name: http-servers
    external_tfvars:
      vpc_id:
        provider: vpc
        name: vpc_vpc_vpc_id
  tags: alb-tg

- name: Attach the ALB Target Group to the ALB
  include_role:
    name: terraplate/aws/ec2/alb-target-group-attachment
  vars:
    meta:
      name: alb-tga-http
    tfvars:
      name: alb-tga-http
    external_tfvars:
      target_group_arn:
        provider: ec2-alb-tg-http
      target_id:
        provider: server
        name: ec2_instance_instance_id
  tags: alb-tga

- name: Create an ALB Listener for port 443
  include_role:
    name: terraplate/aws/ec2/alb-listener
  vars:
    meta:
      name: alb-l-http
    tfvars:
      name: alb-listener-http
    external_tfvars:
      certificate_arn:
        provider: iam
        name: server_cert_arn
      default_target_group_arn:
        provider: ec2-alb-tg-http
        name: target_group_arn
      load_balancer_arn:
        provider: ec2-alb
  tags: alb-l

- name: Create a Route53 record for the ALB
  include_role:
    name: terraplate/aws/route53/record-alias
  vars:
    meta:
      name: alb-rr-http
    external_tfvars:
      # TODO: the zone id should be set from the user vars
      zone_id:
        provider: domain
        name: zone_id
      alias_name:
        provider: ec2-alb
        name: dns_name
      alias_zone_id:
        provider: ec2-alb
        name: zone_id
  tags: alb-rr

- name: Create a Route53 record for the ALB
  include_role:
    name: terraplate/aws/route53/record-alias
  vars:
    meta:
      name: alb-rr-http-train
    external_tfvars:
      # TODO: the zone id should be set from the user vars
      zone_id:
        provider: domain
        name: zone_id
      alias_name:
        provider: ec2-alb
        name: dns_name
      alias_zone_id:
        provider: ec2-alb
        name: zone_id
  tags: alb-rr


###
# processor
###
- name: Create an ALB Target Group
  include_role:
    name: terraplate/aws/ec2/alb-target-group
  vars:
    meta:
      name: alb-tg-processor-api
    tfvars:
      name: alb-tg-processor-api
      port: 13000
      tags:
        Name: http-servers
    external_tfvars:
      vpc_id:
        provider: vpc
        name: vpc_vpc_vpc_id
  tags: alb-tg

- name: Attach the ALB Target Group to the ALB
  include_role:
    name: terraplate/aws/ec2/alb-target-group-attachment
  vars:
    meta:
      name: alb-tga-processor-api
    tfvars:
      name: alb-tga-processor-api
      port: 13000
    external_tfvars:
      target_group_arn:
        provider: ec2-alb-tg-processor-api
      target_id:
        provider: server
        name: ec2_instance_instance_id
  tags: alb-tga

- name: Create an ALB Listener for port 13000
  include_role:
    name: terraplate/aws/ec2/alb-listener
  vars:
    meta:
      name: alb-l-processor-api
    tfvars:
      name: alb-listener-processor-api
      port: 13000
    external_tfvars:
      certificate_arn:
        provider: iam
        name: server_cert_arn
      default_target_group_arn:
        provider: ec2-alb-tg-processor-api
        name: target_group_arn
      load_balancer_arn:
        provider: ec2-alb
  tags: alb-l

- name: Create a Route53 record for the ALB
  include_role:
    name: terraplate/aws/route53/record-alias
  vars:
    meta:
      name: alb-rr-http-processor-api
    external_tfvars:
      # TODO: the zone id should be set from the user vars
      zone_id:
        provider: domain
        name: zone_id
      alias_name:
        provider: ec2-alb
        name: dns_name
      alias_zone_id:
        provider: ec2-alb
        name: zone_id
  tags: alb-rr

###
# training
###
- name: Create an ALB Target Group
  include_role:
    name: terraplate/aws/ec2/alb-target-group
  vars:
    meta:
      name: alb-tg-training-api
    tfvars:
      name: alb-tg-training-api
      port: 13001
      tags:
        Name: http-servers
    external_tfvars:
      vpc_id:
        provider: vpc
        name: vpc_vpc_vpc_id
  tags: alb-tg

- name: Attach the ALB Target Group to the ALB
  include_role:
    name: terraplate/aws/ec2/alb-target-group-attachment
  vars:
    meta:
      name: alb-tga-training-api
    tfvars:
      name: alb-tga-training-api
      port: 13001
    external_tfvars:
      target_group_arn:
        provider: ec2-alb-tg-training-api
      target_id:
        provider: server
        name: ec2_instance_instance_id
  tags: alb-tga

- name: Create an ALB Listener for port 13001
  include_role:
    name: terraplate/aws/ec2/alb-listener
  vars:
    meta:
      name: alb-l-training-api
    tfvars:
      name: alb-listener-training-api
      port: 13001
    external_tfvars:
      certificate_arn:
        provider: iam
        name: server_cert_arn
      default_target_group_arn:
        provider: ec2-alb-tg-training-api
        name: target_group_arn
      load_balancer_arn:
        provider: ec2-alb
  tags: alb-l

- name: Create a Route53 record for the ALB
  include_role:
    name: terraplate/aws/route53/record-alias
  vars:
    meta:
      name: alb-rr-http-training-api
    external_tfvars:
      # TODO: the zone id should be set from the user vars
      zone_id:
        provider: domain
        name: zone_id
      alias_name:
        provider: ec2-alb
        name: dns_name
      alias_zone_id:
        provider: ec2-alb
        name: zone_id
  tags: alb-rr
