# Create a VPC with public and private subnets according to AWS documentation
# See: http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Scenario2.html#Configuration-2
---
- include_role:
    name: terraplate/component
#
# - name: Define a VPC
#   include_role:
#     name: terraplate/aws/vpc/vpc
#   vars:
#     tfvars:
#       cidr_block: 10.0.0.0/20
# 
# - name: Create a custom Route Table
#   include_role:
#     name: terraplate/aws/vpc/route-table
#   vars:
#     external_tfvars:
#       vpc_id:
#         provider: vpc-vpc
#     tfvars:
#       tags:
#         Name: subnet-public
# 
# - name: Create an Internet Gateway
#   include_role:
#     name: terraplate/aws/vpc/internet-gateway
#   vars:
#     external_tfvars:
#       vpc_id:
#         provider: vpc-vpc
# 
# - name: Set the default route of the Custom Route Table to the Internet Gateway
#   include_role:
#     name: terraplate/aws/vpc/route
#   vars:
#     external_tfvars:
#       route_table_id:
#         provider: vpc-route-table
#       gateway_id:
#         provider: vpc-igw


### Public Subnet 1
- name: Define a public subnet
  include_role:
    name: terraplate/aws/vpc/subnet
  vars:
    meta:
      name: subnet-public
    external_tfvars:
      vpc_id:
        provider: vpc-vpc
    tfvars:
      cidr_block: 10.0.2.0/24
      tags:
        Name: subnet-public

- name: Associate the public subnet to the Custom Route Table
  include_role:
    name: terraplate/aws/vpc/route-table-association
  vars:
    meta:
      name: rtb-assn-to-public-subnet
    external_tfvars:
      route_table_id:
        provider: vpc-route-table
      subnet_id:
        provider: vpc-subnet-public
