---
- include_role:
    name: terraplate/component

- name: Create an EC2 instance in a private subnet
  include_role:
    name: terraplate/aws/ec2/instance
  vars:
    external_tfvars:
      subnet_id:
        provider: vpc
        name: vpc_subnet_private_subnet_id
      vpc_security_group_ids:
        - { provider: sg, name: vpc_security_group_rails_app_server_security_group_id }
    tfvars:
      associate_public_ip_address: 'false'
