---
- include_role:
    name: terraplate/component

- name: Create the App Server Security Group
  include_role:
    name: terraplate/aws/vpc/security-group
  vars:
    meta:
      name: security-group-app-server
    tfvars:
      name: app-server
      description: app-server

      # - { name: 'allow-https-in', type: 'ingress', protocol: 'tcp', from_port: 443, to_port: 443, cidr_blocks: '0.0.0.0' }
      # - { name: 'allow-all-out', type: 'egress', protocol: '-1', from_port: 0, to_port: 0, cidr_blocks: '0.0.0.0/0' }

- name: Create an EC2 instance
  include_role:
    name: terraplate/aws/ec2/instance
  vars:
    tfvars:
      tag_name: app-server

- name: Create an ELB
  include_role:
    name: terraplate/aws/ec2/elb

- name: Create an ELB Attachment
  include_role:
    name: terraplate/aws/ec2/elb-attachment

- name: Create a Route53 record for the ELB
  include_role:
    name: terraplate/aws/route53/record-alias
