---
- include_role:
    name: terraplate/component

- name: Create an EC2 key-pair
  include_role:
    name: terraplate/aws/ec2/key-pair
  vars:
    tfvars:
      key_name: '{{ key_name }}'
      public_key_name: '{{ public_key_name }}'
      public_key_path: '{{ public_key_path }}'
  when: create_key_pair is defined

- name: Create an EC2 instance
  include_role:
    name: terraplate/aws/ec2/instance
  vars:
    external_tfvars:
      subnet_id:
        provider: vpc
        name: '{{ subnet_id_name }}'
      vpc_security_group_ids: '{{ vpc_security_group_ids }}'
    tfvars:
      associate_public_ip_address: "{{ associate_public_ip_address | default('false') }}"
      availability_zone: '{{ availability_zone }}'
      instance_type: "{{ instance_type | default('t2.micro') }}"
      key_name: '{{ key_name }}'
      region: '{{ region }}'
      tags: '{{ tags }}'

- name: Create an EC2 EIP
  include_role:
    name: terraplate/aws/ec2/eip
  when: map_eip is defined

- name: Associate the EIP to the EC2
  include_role:
    name: terraplate/aws/ec2/eip-association
  vars:
    external_tfvars:
      allocation_id:
        provider: ec2-eip
      instance_id:
        provider: ec2-instance
  when: map_eip is defined

- name: Create a Route53 record
  include_role:
    name: terraplate/aws/route53/record
  vars:
    external_tfvars:
      public_ip:
        provider: ec2-eip
      zone_id:
        provider: domain
        name: route53_subdomain_zone_id
  when: map_hostname is defined
